[data-component="c01-fixed-header"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .c01-fixed-header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 2.4rem;
    box-sizing: border-box;
    background: #fff;
    z-index: 6;

    @include respond-to(MEDIUM) {
      padding: 3.6rem 8rem;
    }

    [data-component="logo"] {
      width: 7.3rem;
      height: 2.9rem;

      @include respond-to(MEDIUM) {
        width: 14.5rem;
        height: 5.8rem;
      }
    }

    @include respond-to(MEDIUM) {
      .c01-fixed-header__menu {
        display: none;
      }
    }
    .c01-fixed-header__nav-menu {
      display: none;
      @include respond-to(MEDIUM) {
        display: block;
      }
      [data-component="cta-text"] {
        margin-left: 6.4rem;
      }
      [data-component="icon"] {
        cursor: pointer;
      }
    }
  }
}
