.no-results-wrapper {
  color: var(--default-color);
  text-align: center;
  display: none;
s
  a {
    color: var(--color-light-blue);
    display: inline-block;
  }

  .reset-button {
    color: var(--color-light-blue);
  }
}
