.overview-wrapper {
  color: var(--color-white);
  overflow: hidden;
  padding-bottom: 8rem;

  &.no-results {
    .no-results-wrapper {
      display: block;
    }
  }

  .items-container {
    height: 0;
    overflow: hidden;
  }
}
