.search-wrapper {
  color: var(--default-color);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.4rem;
  width: 100%;
  margin-top: 1.6rem;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3.2rem;
    background: var(--color-backgrounds);
    content: "";
  }

  .search-field {
    position: relative;
    width: 100%;
    padding: 0.8rem 3.2rem;
    line-height: 2;
  }

  .search-button {
    position: relative;
    width: 6.4rem;
    height: 6.4rem;
    margin-right: 0.8rem;
  }

  @media ($minWidth768) {
    max-width: 42rem;
  }

  @media ($minWidth1024) {
    margin-top: 0;
  }
}
