<link rel="stylesheet" href="./cta-contact.scss">

<a href="{{href}}" class="cta-contact"{{#if data-attr}} title="{{titl}}" data-{{data-attr}}{{/if}}>
  {{> general/icon name="envelope" }}
  <span class="copy">{{copy}}</span>
</a>
