<link rel="stylesheet" href="./cta-header.scss">

<a href="{{href}}" class="cta-header" data-component="cta-header">
  {{#if left}}
  {{> general/icon name=icon class="cta-header__icon left-icon" }}
  {{/if}}
  <span class="copy">{{copy}}</span>
  {{#if right}}
  {{> general/icon name=icon class="cta-header__icon right-icon"}}
  {{/if}}
</a>
