$prd: 100vw / 1920;
$prm: 100vw / 375;

[data-component="c12-history-timeline"] {
  display: flex;
  flex-wrap: wrap;
  @include respond-to(MEDIUM) {
    flex-wrap: nowrap;
  }

  .c12-history-timeline__left {
    flex: none;
    width: 100%;
    padding-left: 24 * $prm;
    padding-right: 24 * $prm;
    padding-top: 40 * $prm;

    @include respond-to(MEDIUM) {
      width: 86.3rem;
      height: 467 * $prd;
      padding-left: 80 * $prd;
      padding-top: 146 * $prd;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        left: -178 * $prd;
        top: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(
          34.95% 57.18% at 36.89% 37.41%,
          rgba(255, 255, 255, 0.3) 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }
    .heading-1 {
      margin-bottom: 16 * $prm;

      @include respond-to(MEDIUM) {
        margin-bottom: 0;
        letter-spacing: -3px;
      }
    }
    .large {
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #151617;
      opacity: 0.8;
      margin-bottom: 40 * $prm;
      @include respond-to(MEDIUM) {
        width: 51.1rem;
        margin-bottom: 0;
      }
    }
  }
  .c12-history-timeline__right {
    width: 100%;
    padding-left: 24 * $prm;

    @include respond-to(MEDIUM) {
      width: 1097 * $prd;
      height: 460 * $prd;
      padding-top: 56 * $prd;
      padding-left: 0;
    }
    .swiper-wrapper {
      align-items: center;
      @include respond-to(MEDIUM) {
        align-items: flex-start;
      }
    }

    .swiper-slide {
      width: auto;
      height: auto;
      margin-right: 12 * $prm;

      @include respond-to(MEDIUM) {
        margin-right: 24 * $prd;
        &:nth-child(odd) {
          margin-top: 48 * $prd;
        }
      }

      .swiper-slide__year {
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: #151617;
        opacity: 0.4;
      }
    }
    .swiper-pagination-progressbar {
      top: auto;
      bottom: 0;
      height: 1px;
      background: #ced3da;
      left: 24 * $prm;
      @include respond-to(MEDIUM) {
        left: 0;
      }
      .swiper-pagination-progressbar-fill {
        background: #000426;
        height: 2px;
      }
    }
  }
}
