.vagrant
tools/vagrant/config.local.yml
/build/*
/!build/.gitkeep

#Binairy files are generated with composer
source/drupal/bin

# Vendor directories.
vendor
*/vendor

# Drupal console language directory.
source/drupal/console

# sourcemaps
*.css.map
*.js.map

# Drupal folders
# Ignore core and contrib files, use composer
source/drupal/docroot/*
!source/drupal/docroot/modules/
source/drupal/docroot/modules/*
!source/drupal/docroot/modules/custom/
!source/drupal/docroot/modules/patches/
!source/drupal/docroot/themes/
source/drupal/docroot/themes/*
!source/drupal/docroot/themes/custom/
!source/drupal/docroot/themes/patches/
!source/drupal/docroot/sites/
!source/drupal/docroot/.*
!source/drupal/docroot/*.*
# Change/add as needed for your project.

# Ignore paths that contain user-generated content.
source/drupal/docroot/sites/*/files
source/drupal/docroot/sites/*/private

# Ignore dev and IDE files
nbproject
/**/.idea/*
.idea
.DS_Store
*.DS_Store
