<link rel="stylesheet" href="./c19-image-grid.scss">
<script src="./C19ImageGrid.ts"></script>

<section id="{{id}}" class="c19-image-grid" data-component="c19-image-grid" data-scroll-component>
  <div class="block-wrapper{{#if top-padding}} top-{{top-padding}}{{/if}}{{#if bottom-padding}} bottom-{{bottom-padding}}{{/if}}">
    <ul class="overview-list">
      {{#each item}}
      <li class="list-item" data-transition-item>
        <div class="list-item-content">
          <div class="visual-wrapper">
          {{> general/picture visual class="visual-container" data-attr="foo"}}
          </div>
          <div class="list-item-copy">
            {{> general/heading title class="heading-4 item-title" }}
            <p>
              {{copy}}
            </p>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</section>
