$prd: 100vw / 1920;
$prm: 100vw / 375;

[data-component="c26-product-intro"] {
  .c26-product-intro__top {
    background: #6ab2fd;
    width: 100%;
    position: relative;
    padding-left: 21 * $prm;
    padding-top: 158 * $prm;
    //background: url("../assets/c26-product-intro/intro-bg.png") no-repeat;
    //background-size: contain;
    @include respond-to(MEDIUM) {
      padding-left: 216 * $prd;
      padding-top: 240 * $prd;
    }

    .c26-product-intro__title {
      font-size: 6.4rem;
      line-height: 5.6rem;
      position: relative;
      display: inline-block;

      @include respond-to(MEDIUM) {
        font-size: 20rem;
        line-height: 1.2;
      }

      &::after {
        position: absolute;
        content: "";
        top: -5rem;
        bottom: 0;
        left: 13rem;
        right: -4.6rem;
        //height: 100%;
        background: radial-gradient(
          97.32% 271.95% at 100% 50%,
          rgba(255, 255, 255, 0.03) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        backdrop-filter: blur(4px);

        @include respond-to(MEDIUM) {
          left: 22.2rem;
          right: -13.2rem;
        }
      }
      [data-component="icon"] {
        position: absolute;
        bottom: 4rem;
        width: 3.6rem;
        height: 5.6rem;
        @include respond-to(MEDIUM) {
          width: 11.2rem;
          height: 24rem;
          bottom: 7.8rem;
        }
      }
    }
    .c26-product-intro__img {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @include respond-to(MEDIUM) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-right: 112 * $prd;
      }

      &-left {
        width: 254 * $prm;
        align-self: flex-start;
        color: #151617;
        opacity: 0.8;
        @include respond-to(MEDIUM) {
          width: 42.1rem;
        }
        span {
          color: $blueShade2;
        }
      }

      &-icon {
        @include size(12rem, 12rem);
        position: relative;

        &-shape {
          @include size(100%, 100%);
          @include position(0, 0);
          display: block;
          border-radius: 50%;
          background: radial-gradient(
            60.53% 60.53% at 50% 50%,
            rgba(255, 255, 255, 0) 53.12%,
            rgba(255, 255, 255, 0.8) 100%
          );
          backdrop-filter: blur(3px);
          transition: transform 0.3s;
        }
        &.active {
          .c26-product-intro__img-icon-shape {
            background: radial-gradient(
              60.53% 60.53% at 50% 50%,
              rgba(255, 255, 255, 0.11) 28.12%,
              rgba(76, 157, 218, 0.58) 100%
            );
          }
        }

        &-text {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          letter-spacing: -0.25px;
          font-size: 1.4rem;
          color: $whiteShade1;
          text-align: center;
          svg {
            * {
              fill: $whiteShade1;
            }
          }
        }

        //[data-component="icon"] {
        //  position: absolute;
        //  @include size(20%, 20%);
        //  @include position(50%, 50%);
        //  margin-left: -10%;
        //  margin-top: -10%;
        //  svg {
        //    * {
        //      fill: $whiteShade1;
        //    }
        //  }
        //}
      }

      &-view {
        width: 339 * $prm;
        height: 215 * $prm;
        position: relative;
        z-index: 12;
        @include respond-to(MEDIUM) {
          width: 894 * $prd;
          height: 515 * $prd;
          margin-top: -2.5rem;
        }
      }
    }
  }
  .c26-product-intro__details {
    position: relative;
    top: -87 * $prm;
    left: 24 * $prm;
    width: 351 * $prm;
    height: 189 * $prm;
    border-radius: 2rem 0 0 2rem;
    padding: 80 * $prd 0 80 * $prd 149 * $prd;
    background: #fff;
    z-index: 10;
    @include respond-to(MEDIUM) {
      top: -218 * $prd;
      left: 366 * $prd;
      width: 1554 * $prd;
      height: 364 * $prd;
      padding: 80 * $prd 0 80 * $prd 149 * $prd;
    }
    .swiper-slide {
      padding: 0 12 * $prm;
      &:first-child {
        padding-left: 0;
      }
      @include respond-to(MEDIUM) {
        padding: 0 77 * $prd;
      }
    }
  }
}
