.c04-image-text {
  @import "styles/media-wrapper";

  .title {
    margin-bottom: 1.6rem;
  }

  .rich-text {
    margin-bottom: 0.8rem;
  }

  .copy-wrapper {
    width: 100%;
  }

  .social-links {
    margin-top: 2.4rem;
    color: var(--color-light-grey);
  }

  @media ($minWidth768) {

    .copy-wrapper {
      @include column(8);
      margin-left: auto;
      margin-right: auto;
    }

    .cta-wrapper {
      margin-top: 3.2rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    .social-links {
      margin-top: 0;
      margin-left: 3.2rem;
    }
  }

  @media ($minWidth1024) {
    .content-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;

      &.row-reversed {
        flex-direction: row-reverse;
      }
    }

    .copy-wrapper {
      @include column(6);
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
    }

    .container {
      @include column(4, 6);
      margin-left: auto;
      margin-right: auto;
    }
  }
}
