.logo {
  width: 14.4rem;
  position: relative;

  svg {
    display: block;
    width: 100%;
    height: auto;
    * {
      transition: fill .3s;
    }
  }

  @include respond-to(MEDIUM) {
    width: 20rem;
  }
}
