<div data-component="c33-call-to-action-bar" class="{{mainClass}}">
  <div class="c33-call-to-action-bar__title">{{topTitle}}</div>
  <div class="c33-call-to-action-bar__btns">
    {{#each btns}}
      {{> cta/cta-border/cta-border this }}
    {{/each}}
    {{> cta/cta-text/cta-text discover }}
  </div>
</div>
