.n03-language-selector {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: zindex(language-selector);

  &.is-hidden {
    visibility: hidden;
  }

  @import "styles/content-drawer";

  @media ($minWidth1024) {
    justify-content: center;

    .content-wrapper {
      padding: 0 4rem;
    }
  }
}
