<link rel="stylesheet" href="./social-links.scss">

<ul class="social-links{{#if class}} {{class}}{{/if}}"{{#if data-attr}} data-{{/if}}>
  {{#each account}}
  <li class="item"{{#if data-attr}} data-{{data-attr}}{{/if}}>
    <a href="{{href}}" class="link" title="{{title}}" target="_blank">
      {{> general/icon name=name}}
    </a>
  </li>
  {{/each}}
</ul>
