.social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: currentColor;

  .item {
    &:not(:first-of-type) {
      margin-left: 2rem;
    }
  }

  .link {
    transition: opacity 100ms linear;

    &:hover {
      opacity: 0.75;
    }
  }

  .copy {
    font-size: 0;
  }

  .icon {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    color: currentColor;
  }
}
