.content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 0;
  overflow: hidden;

  @media (orientation: landscape) {
    justify-content: center;
  }

  .background-drawer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: var(--color-white);
  }

  .block-wrapper {
    padding: 2rem 0;
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (orientation: landscape) {
      justify-content: flex-start;
    }
  }

  @media ($minWidth1024) {
    height: auto;
    flex-direction: row;
    width: 100%;
    overflow: visible;

    .background-drawer {
      display: none;
    }

    .block-wrapper {
      overflow: visible;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0;
    }
  }
}
