.navigation-wrapper {
  position: relative;
  pointer-events: auto;
  color: var(--color-light-blue);
  padding: 0 2rem;
  max-height: 75%;
  overflow-y: scroll;
  overflow-x: hidden;

  .sub-menu-wrapper {
    display: none;
    position: relative;
    top: 100%;
    left: 0;
    color: var(--color-light-blue);
    transition: height 0.2s ease-out;

    .sub-menu-list {
      padding: 1rem 1.5rem;
      font-size: 2rem;
      margin-top: 3px;
      background-color: white;
      border-radius: 0.3125rem;
      transition: opacity 0.2s ease-in, height 0.2s ease-out;
    }

    .sub-links-wrapper {
      position: relative;
      padding-left: 20px;
      font-size: 2rem;
      transition: height 0.2s ease-out;
    }

    .sub-links-list {
      padding: 1rem 1.5rem;
      background-color: white;
      white-space: nowrap;
      border-radius: 0.3125rem;
      transition: height 0.2s ease-out;
    }
  }

  .navigation-link.is-open {
    opacity: 0.2;
    .sub-menu-wrapper {
      // display: initial;
    }

    .sub-menu-list {
      opacity: 1;
    }
  }

  @media (orientation: landscape) and ($maxWidth1023) and ($maxHeight767) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;

    .navigation-link {
      margin: 0.8rem 0;

      &:not(:last-of-type) {
        margin-right: 3rem;
      }
    }
  }

  .navigation-link {
    display: block;
    font-size: 2.2rem;
    color: currentColor;
  }

  @media ($minWidth1024) {
    padding: 0 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    color: var(--color-white);
    transition: color var(--transition-time-settings);
    overflow-y: initial;
    overflow-x: initial;

    &.scrolled-navigation {
      color: var(--color-light-blue);
    }

    .navigation-link {
      font-family: var(--default-font-family-bold);
      font-size: 1.4rem;
      text-transform: uppercase;
      margin-right: 2.4rem;
      position: relative;
      transition: opacity 250ms linear;
      cursor: pointer;

      &:not(.navigation-sub-menu-item):first-of-type {
        /* this is to hide the home button from >1024 */
        display: none;
      }

      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0.2rem;
        border-radius: 0.2rem;
        background: currentColor;
        width: 0;
        opacity: 0;
        transition: opacity 250ms ease-out, width 150ms linear 50ms;
        content: "";
      }

      .sub-menu-wrapper {
        display: initial;
        position: absolute;
        height: initial;
        transform: scaleY(0);
        transition: transform 0.2s ease-out;
        transform-origin: top left;
      }

      .sub-menu-list {
        font-size: initial;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.3125rem;
        transition: opacity 0.2s ease-in;
        white-space: nowrap;
      }

      .sub-menu-list-item {
        position: relative;
      }

      .sub-links-wrapper {
        position: absolute;
        top: 0;
        left: 100%;
        font-size: initial;
        transform: scaleY(0);
        transition: transform 0.2s ease-out;
        transform-origin: top left;
      }

      .sub-link-item:hover {
        opacity: 0.6;
      }

      .sub-menu-list-item:hover {
        span {
          opacity: 0.6;
        }

        .sub-links-wrapper {
          transform: scaleY(1);
          opacity: 1;
        }
      }

      &:hover {
        .sub-menu-wrapper {
          transform: scaleY(1);
        }
        .sub-menu-list {
          opacity: 1;
        }
      }

      &:hover::before,
      &.is-active::before {
        width: 100%;
        opacity: 1;
      }

      &:not(.is-active):hover {
        .navigation-link-copy {
          opacity: 0.6;
        }
      }
    }
  }
}
