.copy-wrapper {
  padding: 4rem 0;

  .cta {
    display: inline-block;
    color: var(--color-light-blue);
    vertical-align: center;
    font-family: var(--default-font-family);
    margin: 0 0.2rem;

    span {
      font-family: var(--default-font-family);
      display: inline-flex;
      align-items: center;
      font-size: 1.6rem;
    }

    .icon {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  @media ($maxWidth1023) {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
