.filters-wrapper {
  .custom-select {
    &:not(:first-of-type) {
      margin-top: 2.4rem;
    }
  }

  @media ($minWidth768) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .custom-select {
      flex-wrap: wrap;
      &:not(:first-of-type) {
        margin-top: 0;
      }

      &:not(:last-of-type) {
        margin-right: 2.4rem;
      }
    }
  }

  @media ($minWidth1024) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .custom-select {
      margin: 0.4rem;

      &:not(:first-of-type) {
        margin-left: 2rem;
      }
    }
  }
}
