@import "../../../style/base/color-varions";

.cta-chevron {
  @include color-variations;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  outline: 0.4rem solid transparent;
  transition: outline 250ms linear;

  .copy {
    font-family: var(--default-font-family-semibold);
    font-size: 1.6rem;
  }

  .icon {
    margin-left: 0.8rem;
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    margin-bottom: 0.3rem;
  }
  @media ($minWidth1024) {
    .copy {
      font-size: 1.8rem;
    }
  }
}
