@font-face {
	font-family: "NeueHaasGroteskText";
	src: font('NHaasGroteskTXStd/NHaasGroteskTXStd-55Rg.woff2') format('woff2'),
			font('NHaasGroteskTXStd/NHaasGroteskTXStd-55Rg.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NeueHaasGroteskText";
	src: font('NHaasGroteskTXStd/NHaasGroteskTXStd-65Md.woff2') format('woff2'),
			font('NHaasGroteskTXStd/NHaasGroteskTXStd-65Md.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NeueHaasGroteskText";
	src: font('NHaasGroteskTXStd/NHaasGroteskTXStd-75Bd.woff2') format('woff2'),
			font('NHaasGroteskTXStd/NHaasGroteskTXStd-75Bd.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NeueHaasGroteskDisplay";
	src: font('NeueHaasDisplay/NeueHaasDisplay-Black.woff2') format('woff2'),
			font('NeueHaasDisplay/NeueHaasDisplay-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NeueHaasGroteskDisplay";
	src: font('NeueHaasDisplay/NeueHaasDisplay-Bold.woff2') format('woff2'),
			font('NeueHaasDisplay/NeueHaasDisplay-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NeueHaasGroteskDisplay";
	src: font('NeueHaasDisplay/NeueHaasDisplay-Light.woff2') format('woff2'),
			font('NeueHaasDisplay/NeueHaasDisplay-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NeueHaasGroteskDisplay";
	src: font('NeueHaasDisplay/NeueHaasDisplay-Mediu.woff2') format('woff2'),
			font('NeueHaasDisplay/NeueHaasDisplay-Mediu.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NeueHaasGroteskDisplay";
	src: font('NeueHaasDisplay/NeueHaasDisplay-Roman.woff2') format('woff2'),
			font('NeueHaasDisplay/NeueHaasDisplay-Roman.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NeueHaasGroteskDisplay";
	src: font('NeueHaasDisplay/NeueHaasDisplay-Thin.woff2') format('woff2'),
			font('NeueHaasDisplay/NeueHaasDisplay-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}