<link rel="stylesheet" href="./c17-centered-text.scss">
<script src="./C17CenteredText.ts"></script>

<section id="{{id}}" class="c17-centered-text{{#if fullwidth}} is-wide{{/if}}" data-component="c17-centered-text" data-scroll-component>
  <div class="block-wrapper{{#if top-padding}} top-{{top-padding}}{{/if}}{{#if bottom-padding}} bottom-{{bottom-padding}}{{/if}}">
    <div class="content-wrapper rich-text" data-transition-item>
      {{{copy}}}
    </div>
  </div>
</section>
