.form-managed-file {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;

  input[type="file"] {
    button {
      background: blue;
    }
  }
  .js-form-submit {
    background: var(--color-light-blue);
    font-size: 1.4rem;
    padding: 1.6rem 4rem;
    align-self: center;
    color: var(--color-white);
  }
}
