<link rel="stylesheet" href="./c21-video-player-section.scss">
<script src="./C21VideoPlayerSection.ts"></script>

<div class="c21-video-player-section" data-component="c21-video-player-section">
  <div class="c21-video-player-section__card-video">
      {{> general/card-video videoInfo }}
    </div>
    <ul class="c21-video-player-section__intro">
      {{#each lists}}
      <li>
        <div class="c21-video-player-section__intro-title">
          {{> general/heading title class="heading-1" }}
        </div>
        <div class="copy cta c21-video-player-section__intro-content">{{content}}</div>
      </li>
      {{/each}}
    </ul>
</div>
