.main-items {
  padding: 4rem 0;
  color: var(--color-white);
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: var(--color-dark-blue);
    width: 100vw;
    content: "";
  }

  .block-wrapper {
    position: relative;
  }

  .title {
    max-width: 32rem;
    display: block;
    padding-bottom: 4rem;
  }

  .link {
    display: block;

    &:not(:first-of-type) {
      margin-top: 1.6rem;
    }
  }

  @media ($minWidth768) {
    .content-wrapper {
      @include column(6);
    }
  }

  @media ($minWidth1024) {
    .content-wrapper {
      .content {
        @include column(4, 10);
      }
    }
  }

  @media ($minWidth1440) {
    padding: 8rem 0 6.4rem;

    .content-wrapper {
      @include column(10);
      margin-left: auto;
      margin-right: auto;
    }
  }
}
