[data-component="cta-underline"] {
	color: $blueShade1;
	cursor: pointer;
	border-bottom: 2px solid $blueShade1;
	text-decoration: none;
	transition: color .3s, border .3s;
	line-height: 1.2;
	&:hover {
		text-decoration: none;
		color: $blueShade2;
		border-bottom: 2px solid $blueShade2;
	}
}
