$prd: 100vw / 1920;
$prh: 100vh / 1080;

$prm: 100vw / 375;
$prmh: 100vh / 640;
[data-component="c03-leads-form"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: rgba(7, 15, 29, 0.8);
  z-index: 10000;
  display: none;

  .c03-leads-form__content {
    position: absolute;
    top: 80 * $prmh;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: content-box;
    background: #fff;
    border-radius: 30 * $prm 30 * $prm 0 0;
    @include respond-to(MEDIUM) {
      top: 50%;
      bottom: auto;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 112 * $prh 98 * $prd;
      flex-direction: row;
      border-radius: 60 * $prd;
    }
    .c03-leads-form__content-close {
      position: absolute;
      width: 48 * $prm;
      height: 48 * $prm;
      right: 2.4rem;
      top: 2.4rem;
      cursor: pointer;
      @include respond-to(MEDIUM) {
        right: 3.2rem;
        top: 3.2rem;
        width: 72 * $prd;
        height: 72 * $prd;
      }
      rect,
      path {
        stroke: rgba(33, 145, 229, 0.5);
      }
    }

    &-img {
      width: 100vw;
      height: 192 * $prmh;
      border-radius: 30 * $prm 30 * $prm 0 0;
      object-fit: cover;
      @include respond-to(MEDIUM) {
        width: 422 * $prd;
        height: auto;
        align-self: stretch;
        margin-right: 75 * $prd;
        border-radius: 0;
      }
    }
    &-form {
      width: 100vw;
      background: #fff;
      padding: 40 * $prmh 24 * $prm;
      overflow-y: auto;
      @include respond-to(MEDIUM) {
        padding: 0;
        width: 422 * $prd;
        min-width: 282px;
      }
      &-title {
        color: #070f1d;
        font-size: 4.8rem;
        line-height: 5.6rem;
        margin-bottom: 4 * $prmh;
        font-weight: 500;
        @include respond-to(MEDIUM) {
          font-size: 8.8rem;
          line-height: 7.2rem;
          margin-bottom: 16 * $prh;
        }
      }
      &-subtitle {
        color: #070f1d;
        opacity: 0.8;
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin-bottom: 2.4rem;
        font-weight: 500;
        @include respond-to(MEDIUM) {
          font-size: 2.4rem;
          line-height: 3.2rem;
          margin-bottom: 32 * $prh;
        }
      }
      .form-group {
        margin-bottom: 0;
        padding-right: 3rem;
        position: relative;
        .form-require {
          position: absolute;
          right: 0;
          top: 0;
          color: #d21c1c;
          font-size: 3rem;
          height: 4.8rem;
          line-height: 5.8rem;
          @include respond-to(MEDIUM) {
            height: 5.6rem;
            line-height: 6.6rem;
          }
        }
        .form-option {
          position: absolute;
          right: 4.2rem;
          top: 0;
          color: #8b8c8c;
          opacity: 0.6;
          height: 4.8rem;
          line-height: 5.8rem;
          @include respond-to(MEDIUM) {
            height: 5.6rem;
            line-height: 5.6rem;
          }
        }
        .form-control {
          min-height: 4.8rem;
          padding: 1rem 1.6rem;
          @include respond-to(MEDIUM) {
            min-height: 5.6rem;
          }
          &::placeholder {
            color: #8b8c8c;
            opacity: 0.6;
          }
        }
        .form-text {
          font-size: 1.4rem;
          line-height: 2.2rem;
          height: 2.4rem;
          color: #8b8c8c;
          opacity: 0.6;
        }
      }
      .btn-block {
        height: 4.8rem;
        background: #2191e5;
        border-radius: 2.4rem;
        border: 0;
        &:disabled {
          background: #b1d5fb;
        }
        @include respond-to(MEDIUM) {
          height: 6.4rem;
          border-radius: 3.2rem;
        }
      }
    }
  }
}
