<a href="{{#if email}}mailto:{{/if}}{{link}}" class="cta cta-chevron{{#if class}} {{class}}{{/if}}"{{#if data-attr}} data-{{data-attr}}{{/if}}>
  <span class="copy">{{copy}}</span>
  {{> general/icon/icon name="chevron"}}
</a>
