.cta-pill {
  display: inline-block;
  position: relative;

  &.outline {
    .cta-copy {
      padding: 0.8rem 2.4rem;
    }

    &::before {
      border: 1px solid currentColor;
    }
  }

  &:hover::before {
    opacity: 0.9;
  }

  &.yellow {
    &::before {
      background: var(--color-yellow);
    }

    .cta-copy {
      color: var(--color-black);
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3.2rem;
    background: var(--color-light-blue);
    transition: opacity 250ms ease-in-out;
    content: "";
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .cta-copy {
    display: block;
    position: relative;
    padding: 2.5rem 3.2rem 2.4rem;
    color: var(--color-white);
  }
}
