<link rel="stylesheet" href="./c18-image-set.scss">
<script src="./C18ImageSet.ts"></script>

<section id="{{id}}" class="c18-image-set" data-component="c18-image-set" data-scroll-component>
  <div class="block-wrapper{{#if top-padding}} top-{{top-padding}}{{/if}}{{#if bottom-padding}} bottom-{{bottom-padding}}{{/if}}">
    <ul class="visual-list">
      {{#each item}}
      <li class="list-item">
        {{#if video}}
          {{> general/video video class="video-wrapper" data="data-transition-item"}}
        {{/if}}
        {{#if visual}}
          {{> general/picture visual class="visual-wrapper" data-attr="transition-item" }}
        {{/if}}
      </li>
      {{/each}}
    </ul>
  </div>
</section>
