.c18-image-set {
  .list-item {
    position: relative;
    width: 100%;
    max-width: 40rem;
    overflow: hidden;
    max-height: 72rem;

    &:not(:first-of-type) {
      margin-top: 2.4rem;
      margin-left: auto;
      margin-right: 0;
    }

    &::before {
      display: block;
      width: 100%;
      padding-bottom: 140%;
      content: "";
    }
  }

  .visual-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .visual {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .video-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @media ($minWidth768) {
    .visual-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 19.2rem;
    }

    .list-item {
      max-width: none;
      width: calc(50% - 3.2rem);

      &:not(:first-of-type) {
        transform: translateY(19.2rem);
        margin-top: 0;
      }
    }
  }

  @media ($minWidth1024) {
    .visual-list {
      @include column(10);
      margin-left: auto;
      margin-right: auto;
    }
  }
}
