<link rel="stylesheet" href="./regions-wrapper.scss">
<script src="./RegionsWrapper.ts"></script>

<div class="regions-wrapper" data-foo data-component="regions-wrapper">
  <ul class="regions-list">
    {{#each regions}}
    <li class="list-item" data-region>
      <div class="card-wrapper">
        <div class="map">
          {{> general/picture map class="visual-wrapper"}}
        </div>
        <ul class="hotspot-list">
          {{#each locales}}
          <li class="hotspot" data-region-hotspot data-region-y="{{y-position}}" data-region-x="{{x-position}}">
            <div class="hotspot-wrapper">
              <div class="pin"></div>
              <div class="hotspot-label"><div class="label-text">{{name}}</div></div>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </li>
    {{/each}}
  </ul>
</div>
