.regions-wrapper {
  position: relative;
  height: 100%;
  pointer-events: none;

  @import "styles/region-list";
  @import "styles/card-wrapper";
  @import "styles/hotspot-list";
  @import "styles/hotspot-wrapper";

  @media ($minWidth1024) {
    margin: 2.4rem 0;
  }

  @media ($minWidth1440) {
    padding: 4rem 0;
    margin: 0;
    width: 100%;
  }
}
