#block-nfe-theme-content {
  .user-login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25rem;
    height: 100vh;
    margin: 0 auto;

    .form-required {
      text-transform: uppercase;
    }
    .form-item-pass {
      margin-top: 2rem;
    }
    .form-text {
      width: 100%;
      border: 1px solid $grayShade1;
      padding: 1.5rem 1rem;
    }
    .form-submit {
      background-color: $blueShade2;
      color: $whiteShade1;
      margin: 5rem auto 0;
      width: 100%;
      display: block;
      padding: 2rem 1rem;
    }
    @include respond-to(MEDIUM) {
      width: 45rem;
    }
    @include respond-to(LARGE) {
      .form-submit {
        width: 70%;
        &:hover {
          cursor: pointer;
          background-color: $blueShade1;
        }
      }
    }
  }
}
