@mixin padding-settings {
  padding: 0 2.4rem;
  $smallPadding: 2.4rem;
  $mediumPadding: 4.8rem;
  $largePadding: 9.6rem;

  @include respond-to(LARGE) {
    padding: 0 4rem;
  }

  &.top-small {
    padding-top: $smallPadding;
  }

  &.top-medium {
    padding-top: $mediumPadding;
  }

  &.top-large {
    padding-top: $largePadding;
  }

  &.bottom-small {
    padding-bottom: $smallPadding;
  }

  &.bottom-medium {
    padding-bottom: $mediumPadding;
  }

  &.bottom-large {
    padding-bottom: $largePadding;
  }
}
