.card {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  --gutter: 4px;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-white);
    content: "";
  }

  .content-wrapper {
    padding: 4rem 2.4rem;
    position: relative;
  }

  .icon-wrapper,
  .heading-wrapper,
  .copy {
    // opacity: 0;
    // transform: translateX(30px);
  }

  .outline-icon {
    color: var(--color-light-blue);
    margin-bottom: 2.4rem;
  }

  .title {
    margin-bottom: 0.8rem;
  }

  @media ($minWidth768) {
    @include column(6);

    .icon-wrapper,
    .heading-wrapper,
    .copy {
      // opacity: 0;
      // transform: translateX(30px);
    }

    &:not(:first-of-type) {
      margin-left: var(--gutter);
    }
  }

  @media ($minWidth1024) {
    @include column(4);
    --gutter: 20px;
    min-height: 48rem;

    .visual {
      margin-bottom: 4rem;
    }
  }

  @media ($minWidth1440) {
    @include column(3, 9);
  }
}
