$prd: 100vw / 1920;
$prm: 100vw / 375;

.c10-stock-timeline-card {
  position: relative;

  .row {
    margin: auto;

    @include respond-to(MEDIUM) {
      margin-right: -15px;
      margin-left: -15px;
    }
  }

  &__block-wrapper {
    width: 100%;
    position: relative;
    top: -170 * $prm;
    z-index: 10;

    @include respond-to(MEDIUM) {
      padding-left: 207 * $prd;
      position: absolute;
      left: 24 * $prd;
      top: 169 * $prd;
    }
  }

  &__text-white {
    color: $whiteShade1;
  }

  &__container {
    width: auto;
    height: 321 * $prm;
    margin: 0 24 * $prm;
    padding: 16 * $prm;
    padding-right: 17.8 * $prm;
    background: rgba(0, 4, 38, 0.9);
    backdrop-filter: blur(30 * $prd);
    border-radius: 1rem 1rem 6rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-to(MEDIUM) {
      width: 570 * $prd;
      height: 563 * $prd;
      padding-top: 40 * $prd;
      padding-right: 48 * $prd;
      padding-left: 48 * $prd;
      padding-bottom: 16 * $prd;
    }

    .c10-stock-timeline-card__title {
      color: $whiteShade1;
    }

    .c10-stock-timeline-card__content {
      width: 100%;
      height: 176 * $prm;
      position: relative;

      @include respond-to(MEDIUM) {
        width: 470 * $prd;
        height: 262 * $prd;
      }

      .c10-stock-timeline-card__vector {
        position: absolute;
        width: 100%;
        height: 176 * $prm;
        z-index: 2;
        color: transparent;

        @include respond-to(MEDIUM) {
          height: 262 * $prd;
        }

        .c10-stock-timeline-card__image-vector {
          height: 100%;
        }

        [data-component="icon"] {
          @include size(100%, 100%);
        }

        .c10-stock-timeline-card__dot {
          width: 14 * $prm;
          height: 14 * $prm;
          position: absolute;
          background: #4557e8;
          border-radius: 50%;
          transition: 0.3s ease;

          @include respond-to(MEDIUM) {
            width: 24 * $prd;
            height: 24 * $prd;
          }

          &:hover {
            transform: scale(1.3, 1.3);
            cursor: pointer;
          }

          &::before {
            content: "";
            width: 4 * $prm;
            height: 4 * $prm;
            background: #ffffff;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include respond-to(MEDIUM) {
              width: 6 * $prd;
              height: 6 * $prd;
            }
          }

          &.is-active {
            transform: scale(1.5, 1.5);
            background: linear-gradient(225deg, #b7daff 0%, #4557e8 100%);
          }

          &:nth-child(1) {
            left: 71 * $prm;
            bottom: 68 * $prm;

            @include respond-to(MEDIUM) {
              left: 126 * $prd;
              bottom: 113.5 * $prd;
            }
          }

          &:nth-child(2) {
            left: 116 * $prm;
            bottom: 91 * $prm;

            @include respond-to(MEDIUM) {
              left: 201 * $prd;
              bottom: 148.5 * $prd;
            }
          }

          &:nth-child(3) {
            left: 155 * $prm;
            bottom: 114 * $prm;

            @include respond-to(MEDIUM) {
              left: 268 * $prd;
              bottom: 176 * $prd;
            }
          }

          &:nth-child(4) {
            left: 199 * $prm;
            bottom: 151 * $prm;

            @include respond-to(MEDIUM) {
              left: 342 * $prd;
              bottom: 241.5 * $prd;
            }
          }
        }

        .c10-stock-timeline-card__text1 {
          position: absolute;
          left: 0;
          bottom: 75 * $prm;

          @include respond-to(MEDIUM) {
            bottom: 116.5 * $prd;
          }

          .heading-4 {
            line-height: 32px;
            font-size: 32 * $prm;

            @include respond-to(MEDIUM) {
              line-height: 48px;
              font-size: 56 * $prd;
            }
          }
        }

        .c10-stock-timeline-card__text2 {
          position: absolute;
          right: 0;
          top: -36 * $prm;

          @include respond-to(MEDIUM) {
            top: -43 * $prd;

            .heading-4 {
              line-height: 48px;
              font-size: 56 * $prd;
            }
          }
        }

        .c10-stock-timeline-card__text3 {
          position: absolute;
          left: 0;
          bottom: 40 * $prm;

          @include respond-to(MEDIUM) {
            bottom: 62.5 * $prd;
          }
        }

        .c10-stock-timeline-card__text4 {
          position: absolute;
          right: 0;
          top: 12 * $prm;

          @include respond-to(MEDIUM) {
            top: 16 * $prd;
          }
        }
      }
    }
  }

  &__card {
    width: 222 * $prm;
    background: linear-gradient(225deg, #6ab2fd 0%, #4557e8 100%);
    border-radius: 1rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 44 * $prm;
    bottom: -53 * $prm;
    padding: 12 * $prm;
    padding-bottom: 8 * $prm;

    @include respond-to(MEDIUM) {
      width: 474 * $prd;
      height: 250 * $prd;
      left: 0;
      top: 103 * $prd;
      padding: 16 * $prd;
    }

    .c10-stock-timeline-card__t {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 22 * $prm;

      .c10-stock-timeline-card__text6 {
        color: rgba(255, 255, 255, 0.4);
        display: inline-block;
        margin-left: 13 * $prm;

        @include respond-to(MEDIUM) {
          margin-left: 51 * $prd;
        }
      }
    }

    .c10-stock-timeline-card__bg-black,
    .c10-stock-timeline-card__bg-white {
      border-radius: 0.2rem;
      position: absolute;
      width: 30 * $prm;
      height: 30 * $prm;

      @include respond-to(MEDIUM) {
        width: 71 * $prd;
        height: 71 * $prd;
      }
    }

    .c10-stock-timeline-card__bg-white {
      background: linear-gradient(135.49deg, #ffffff 0%, rgba(255, 255, 255, 0.3) 81.7%);
      top: 4 * $prm;
      right: 13 * $prm;

      @include respond-to(MEDIUM) {
        top: 8 * $prd;
        right: 23 * $prd;
        z-index: 2;
      }
    }

    .c10-stock-timeline-card__bg-black {
      background: #000426;
      right: 4 * $prm;
      top: 11 * $prm;

      @include respond-to(MEDIUM) {
        top: 28 * $prd;
        right: 0;
      }
    }

    .c10-stock-timeline-card__text7 {
      color: rgba(255, 255, 255, 0.4);
      line-height: 22 * $prm;
      line-height: 22px;
      font-size: 14 * $prd;

      @include respond-to(MEDIUM) {
        line-height: 16 * $prd;
        line-height: 40 * $prd;
        font-size: 40 * $prd;
      }
    }

    .c10-stock-timeline-card__text8 {
      .heading-5 {
        line-height: 22px;
        font-size: 14 * $prd;
      }

      @include respond-to(MEDIUM) {
        .heading-5 {
          line-height: 40 * $prd;
          font-size: 40 * $prd;
        }
      }
    }
  }

  .c10-stock-timeline-card__card {
    display: none;

    &.is-active {
      display: flex;
    }
  }

  .c09-media-box {
    position: relative;
    padding: 0;
    padding-top: 45 * $prm;

    @include respond-to(MEDIUM) {
      padding: 9.1rem 8rem 0;
      padding-top: 91 * $prd;
      padding-right: 80 * $prd;
    }

    &__block-wrapper {
      position: relative;
      height: 294 * $prm;

      @include respond-to(MEDIUM) {
        width: 100%;
        height: 563 * $prd;
      }
    }

    &__image {
      @include size(100%, 100%);
      position: relative;
      z-index: 2;
      overflow: hidden;

      @include respond-to(MEDIUM) {
        border-radius: 60 * $prd;
      }

      img {
        width: 919 * $prm;
        height: 100%;
        position: absolute;
        left: -50%;

        @include respond-to(MEDIUM) {
          width: 100%;
          position: relative;
          left: 0;
        }
      }

      .c09-media-box__button {
        display: none;

        @include respond-to(MEDIUM) {
          display: block;
          position: absolute;
          right: 40 * $prd;
          bottom: 40 * $prd;
        }
      }

      .c09-media-box__button-h5 {
        display: block;
        position: absolute;
        left: 24 * $prm;
        bottom: -270 * $prm;

        @include respond-to(MEDIUM) {
          display: none;
        }
      }
    }

    &__fixed-button {
      background: $blueShade2;
      position: absolute;
      z-index: 1;
      width: 38 * $prm;
      height: 103 * $prm;
      right: 0;
      top: -45 * $prm;
      border-radius: 80 * $prm;

      @include respond-to(MEDIUM) {
        width: 88 * $prd;
        height: 217 * $prd;
        top: -91 * $prd;
        border-radius: 80 * $prd;
      }

      .c09-media-box__image-corner {
        width: 20 * $prm;
        height: 20 * $prm;
        position: absolute;
        right: 36 * $prm;
        top: 18 * $prm;

        @include respond-to(MEDIUM) {
          width: 40 * $prd;
          height: 44 * $prd;
          right: 86 * $prd;
          top: 37 * $prd;
        }

        img {
          @include size(100%, 100%);
        }
      }

      .c09-media-box__iconfont {
        color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38.5 * $prm;
        height: 38 * $prm;

        @include respond-to(MEDIUM) {
          width: 88 * $prd;
          height: 80 * $prd;
        }

        [data-component="icon"] {
          width: 16 * $prm;
          height: 18 * $prm;

          @include respond-to(MEDIUM) {
            width: 34 * $prd;
            height: 35 * $prd;
          }
        }

        .c09-media-box__icon-h5 {
          display: none;
        }
      }
    }

    &__background {
      background: $blueShade2;
      position: absolute;
      z-index: 1;
      width: 230 * $prm;
      height: 8 * $prm;
      right: 38 * $prm;
      top: -8 * $prm;
      border-top-left-radius: 1rem;

      @include respond-to(MEDIUM) {
        width: 779 * $prd;
        height: 11 * $prd;
        right: 88 * $prd;
        top: -11 * $prd;
      }
    }
  }
}
