<link rel="stylesheet" href="./n04-video-overlay.scss">
<script src="./N04VideoOverlay.ts"></script>

<section class="n04-video-overlay is-hidden" data-component="n04-video-overlay" data-scroll-component>
  {{> general/overlay }}
  <div class="video-wrapper" data-content-drawer>
    <div class="content-wrapper">
      <button class="close-button" data-close-button>
        {{> general/icon name="close" }}
      </button>
      <div class="player-wrapper">
        {{> general/video-player }}
      </div>
    </div>
  </div>
</section>
