.carousel-title-wrapper {
  margin-bottom: 3.2rem;

  .carousel-controls {
    display: none;
  }

  .cta {
    margin-top: 1.6rem;
  }

  @include respond-to(LARGE) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;

    .cta {
      margin-top: 0;
      margin-left: 4rem;
    }

    .carousel-controls {
      user-select: none;
      display: block;
      margin-left: auto;
      margin-right: 0;
      color: var(--color-light-blue);

      &.is-hidden {
        visibility: hidden;
        pointer-events: none;
      }

      .previous {
        transform: scaleX(-1);
        margin-left: 0;
      }

      .next {
        margin-left: 1.6rem;
      }
    }

    .carousel-control {
      transition: opacity 250ms;

      &.is-disabled {
        pointer-events: none;
        cursor: default;
        color: var(--color-light-grey);
        opacity: 0.2;
      }
    }

    p {
      width: 100%;
      display: block;
      order: 1;
    }
  }

  @include respond-to(LARGE) {
    @include column(10);
  }
}
