.c01-hero {
  padding-top: 8rem;
  color: var(--color-white);

  @import "styles/media-wrapper";
  @import "styles/copy-wrapper";

  .content-wrapper {
    min-height: 50rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
  }

  @media ($minWidth768) {
    padding-top: 0;

    .content-wrapper {
      position: relative;
      justify-content: center;
      height: 56vw;
      max-height: calc(100vh - 6rem);
    }
  }

  @media ($minWidth1024) {
    .block-wrapper {
      padding: 2.4rem;
    }
  }
}
