<link rel="stylesheet" href="./c01-hero.scss">
<script src="./C01Hero.ts"></script>

<section id="{{id}}" class="c01-hero" data-component="c01-hero" data-scroll-component>
  <div class="block-wrapper">
    <div class="content-wrapper">

      <div class="media-wrapper">
        {{#if hero-image}}
          {{> general/picture hero-image class="hero-image" }}
        {{/if}}
        {{#if hero-video}}
          {{> general/video hero-video class="hero-video" settings="autoplay loop" }}
        {{/if}}
      </div>
      <div class="copy-wrapper">
        {{> general/heading title class="title heading-1 semi-bold" }}
        {{#if cta}}
        <div class="cta-wrapper">
          {{> cta/cta-play-button cta }}
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</section>
