.content-drawer {
  position: relative;
  background: var(--color-white);
  border-radius: 1rem 1rem 0 0;
  z-index: 0;

  .copy-wrapper {
    padding: 5.6rem 2.4rem;
    position: relative;
  }

  .close-button {
    top: -6.4rem;
    right: 0;
    position: absolute;
    width: 6.4rem;
    height: 6.4rem;
    padding: 0.8rem;
    color: var(--color-white);
    z-index: 1;
  }

  .title {
    margin-bottom: 4rem;
  }

  .language-list {
    color: var(--color-light-blue);
  }

  .list-item {
    &:not(:first-of-type) {
      margin-top: 1.6rem;
    }
  }

  @media ($minWidth1024) {
    @include column(8);
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;

    .copy-wrapper {
      padding: 5.6rem 6.4rem;
    }

    .close-button {
      top: 0;
      color: var(--color-black);
    }
  }

  @media ($minWidth1440) {
    @include column(6);

    .copy-wrapper {
      padding: 9.6rem 6.4rem;
    }
  }
}
