<div class="video-overlay" data-component="video-overlay">
  <div class="video-overlay__popup">
    <div class="video-overlay__popup-close-h5">
      {{> cta/cta-round-border/cta-round-border cta-round-border }}
    </div>
    <div class="video-overlay__popup-container">
      <div class="video-overlay__popup-close">
        {{> cta/cta-round-border/cta-round-border cta-round-border }}
      </div>
      <div class="video-overlay__popup-content">
        {{> general/video-player/video-player videoPlayer }}
      </div>
    </div>
  </div>
</div>