.cta-play-button {
  display: inline-block;
  cursor: pointer;

  &:hover {
    .button-content-wrapper::before {
      width: 100%;
    }

    .button-copy-wrapper {
      transform: translateX(-2.4rem);
    }
  }

  .button-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-right: 1.6rem;

    /* stylelint-disable-next-line no-descending-specificity */
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 9.6rem;
      background: var(--color-light-blue);
      border-radius: 4.8rem;
      transition: width 250ms ease-in-out;
      content: "";
    }
  }

  .button-icon-wrapper {
    position: relative;
    flex-shrink: 0;
    height: 9.6rem;
    width: 9.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .icon {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .button-copy-wrapper {
    position: relative;
    margin-left: 1.6rem;
    user-select: none;
    transition: transform 250ms ease-in-out;
    margin-bottom: -0.3rem;
  }
}
