<link rel="stylesheet" href="./cta-play-button.scss">
<script src="./CtaPlayButton.ts"></script>

<button class="cta cta-play-button{{#if class}} {{class}}{{/if}}" {{#if data-attr}} data-{{data-attr}}{{/if}}
  data-video-popup="{{id}}" data-component="cta-play-button">
  <div class="button-content-wrapper">
    <div class="button-icon-wrapper">
      {{> general/icon name="play"}}
    </div>
    <div class="button-copy-wrapper">
      <span class="heading-3 bold">{{copy}}</span>
    </div>
  </div>
</button>
