<div class="video-player" data-component="video-player">
  <video{{#if class}} class="{{class}}" {{/if}}{{#if data}} {{data}}{{/if}} autoplay loop muted playsinline>
    <source src="{{src}}" class="source" type="video/mp4">
    </video>
</div>
