.menu-button {
  color: var(--color-light-blue);
  align-self: center;
  justify-self: center;
  padding: 1.6rem;
  -webkit-tap-highlight-color: transparent;
  height: 5.6rem;
  width: 5.6rem;
  position: relative;

  svg {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    overflow: visible;
  }

  @include respond-to(LARGE) {
    display: none;
  }
}
