.regions-navigation {
  color: var(--color-white);
  padding-top: 2.4rem;
  overflow: hidden;
  backdrop-filter: blur(2rem);
  flex-shrink: 0;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-black);
    opacity: 0.1;
    content: "";
  }

  @import "styles/label";
  @import "styles/navigation";

  @media ($minWidth1440) {
    padding: 12rem 0;
    @include column(3);
    backdrop-filter: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::before {
      display: none;
    }
  }
}
