.overview-item {
  position: relative;
  display: block;

  &::before {
    display: block;
    width: 100%;
    padding-bottom: 105%;
    content: "";
  }

  @import "styles/visual-wrapper";
  @import "styles/copy-wrapper";
}
