<link rel="stylesheet" href="./overview-item.scss">

<a href="{{link.href}}" class="overview-item" title="{{link.title}}" data-component="overview-item">
  {{#if visual}}
    {{> general/picture visual class="visual-wrapper" data-attr="transition-item" }}
  {{else}}
    <span class="background-panel" data-transition-item></span>
  {{/if}}
  <div class="copy-wrapper" data-transition-item>
    {{#if label}}<div class="label">{{label.copy}}</div>{{/if}}
    {{> general/heading title class="heading-3 semi-bold"}}
    {{> general/outline-icon name="arrow" }}
  </div>
</a>
