<link rel="stylesheet" href="./outline-icon.scss">

<div class="outline-icon{{#if class}} {{class}}{{/if}}" data-component="outline-icon"{{#if data-attr}} data-{{data-attr}}{{/if}}>
  {{> general/icon class name=name }}
</div>
