<link rel="stylesheet" href="./c27-navigation.scss">
<script src="./C27Navigation.ts"></script>

<section class="c27-navigation" data-component="c27-navigation" data-scroll-component>
  <div class="block-wrapper">
    <ul class="navigation-wrapper">
        {{#each ctas}}
          <li class="navigation-item" data-transition-item>
            {{> cta/cta-pill/cta-pill link=href class="navigation-item"}}       
          </li>
        {{/each}}
    </ul>
  </div>
</section>
