<link rel="stylesheet" href="./c09-media-box-scroll-indicator.scss">
<script src="./C09MediaBoxScrollIndicator.ts"></script>

<div class="c09-media-box-scroll-indicator" data-component="c09-media-box-scroll-indicator">
  <div class="c09-media-box-scroll-indicator__block-wrapper">
    <div class="c09-media-box-scroll-indicator__image">
      <img src="" alt="">
      <div class="c09-media-box-scroll-indicator__button">
        {{> cta/cta-border cta-border-white-with-icon }}
      </div>
      <div class="c09-media-box-scroll-indicator__button-h5">
        {{> cta/cta-border cta-border-with-icon }}
      </div>
    </div>
    <div class="c09-media-box-scroll-indicator__fixed-button">
      <div class="c09-media-box-scroll-indicator__iconfont">
        <div class="c09-media-box-scroll-indicator__icon">
          {{> general/icon name='icon-arrow-down' }}
        </div>
        <div class="c09-media-box-scroll-indicator__icon-h5">
          {{> general/icon name='icon-arrow-down-h5' }}
        </div>
      </div>
    </div>
    <div class="c09-media-box-scroll-indicator__background"></div>
  </div>
</div>