.card-weather {
  .card-weather__container {
    width: 22.4rem;
    background: linear-gradient(
      144.98deg,
      #c0e2f3 -2.32%,
      #b6d4ee 33.3%,
      #b2cfec 59.62%,
      #c0e2f2 86.57%
    );
    border: 1px solid #ffffff;
    border-radius: 1rem 6rem 1rem 1rem;
    padding: 1.6rem 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-weather__icon-sun {
    margin-top: 1.6rem;
    margin-bottom: 10rem;
    @include size(3.8rem, 3.8rem);
    line-height: 0;
    span[data-component="icon"] {
      @include size(100%, 100%);
      color: transparent;
    }
  }
  .card-weather__centigrade {
    margin-bottom: 1.6rem;
    .card-weather__icon-sun {
      display: none;
    }
    .card-weather__num {
      font-size: 4rem;
      color: #ffffff;
      font-weight: bold;
      line-height: 3.2rem;
    }
    .card-weather__empty {
      display: flex;
      align-items: center;
      span[data-component="icon"] {
        @include size(1.2rem, 1.2rem);
        margin-right: 0.6rem;
      }
      .card-weather__empty-text {
        font-size: 1.4rem;
        line-height: 2.2rem;
        font-weight: 500;
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
      }
    }
  }
  .card-weather__text {
    color: #ffffff;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 500;
  }
}
@media (max-width: 1024px) {
  .card-weather {
    border-radius: 1rem 4rem 1rem 1rem;
    padding: 1.6rem 1.2rem;
    .card-weather__icon-sun {
      display: none;
      margin-right: 1rem;
    }
    .card-weather__centigrade {
      display: flex;
      align-items: center;
      .card-weather__icon-sun {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
      }
      .card-weather__num {
        font-size: 1.6rem;
        color: #ffffff;
        font-weight: 500;
        line-height: 2.4rem;
        margin-bottom: 0;
      }
    }
  }
}
