<link rel="stylesheet" href="./hotspot-button.scss">

<button class="hotspot-button" data-hotspot-button>
  <span class="hotspot-copy">
    <span class="name">{{name}}</span>
    <span class="location">{{location}}</span>
  </span>
  <span class="icon-wrapper">
    {{> general/icon name="arrow"}}
  </span>
</button>
