<link rel="stylesheet" href="./c04-canton-fair-entry-banner.scss">
<script src="./C04CantonFairEntryBanner.ts"></script>

<div data-component="c04-canton-fair-entry-banner">
  <div class="c04-canton-fair-entry-banner__content">

  </div>
</div>
