<link rel="stylesheet" href="./c04-canton-fair-entry-banner.scss">
<script src="./C04CantonFairEntryBanner.ts"></script>

<div data-component="c04-canton-fair-entry-banner">
  <div class="c04-canton-fair-entry-banner__content-text">
    <div>
      <p class="copy large">{{content.title}}</p>
      {{> cta/cta-text content.subtitle class="heading-1" }}
    </div>
    <div>
      {{> cta/cta-border content.join }}
    </div>
  </div>
  <div class="c04-canton-fair-entry-banner__content"></div>
  <div class="c04-canton-fair-entry-banner__mouse">
    {{> general/icon name="mouse-icon"}}
    <span class="copy cta">{{mouseTitle}}</span>
  </div>
</div>
