$prd: 100vw / 1920;
$prd: 100vw / 1920;
$prm: 100vw / 375;

[data-component="c16-technology-and-innovation"] {
  display: flex;
  flex-wrap: wrap;
  color: $textColor;

  @include respond-to(MEDIUM) {
    flex-wrap: nowrap;
    padding-top: 190 * $prd;
    position: relative;
    margin-top: 150 * $prd;
  }

  .c16-technology-and-innovation__video {
    width: 100%;
    margin-top: 83 * $prm;
    margin-left: 24 * $prm;
    margin-right: 24 * $prm;
    position: relative;
    z-index: 10;
    user-select: none;

    @include respond-to(MEDIUM) {
      width: 408 * $prd;
      margin: 0;
      position: absolute;
      right: 140 * $prd;
      top: 0;
    }

    .c16-technology-and-innovation__video-box {
      width: 100%;
      height: auto;
      background: linear-gradient(90.52deg, #0b1548 3.45%, #3e45a9 112.37%);
      border-radius: 1rem;
      overflow: hidden;
      padding-left: 16 * $prm;
      padding-top: 16 * $prm;

      @include respond-to(MEDIUM) {
        padding-left: 16 * $prd;
        padding-top: 16 * $prd;
      }

      .c16-technology-and-innovation__video-slogan {
        color: $whiteShade1;
        opacity: 0.4;
        margin-bottom: 10 * $prm;
        padding-right: 80 * $prm;

        .heading-6 {
          font-size: 14 * $prm;
        }

        @include respond-to(MEDIUM) {
          margin-bottom: 10 * $prd;
          padding-right: 80 * $prd;

          .heading-6 {
            font-size: 14 * $prd;
          }
        }
      }

      .c16-technology-and-innovation__video-play {
        display: flex;
        align-items: center;
        padding-bottom: 12 * $prm;

        @include respond-to(MEDIUM) {
          padding-bottom: 22 * $prd;
        }

        .c16-technology-and-innovation__video-play-button {
          width: 32 * $prm;
          height: 32 * $prm;

          &.pause {
            display: none;
          }

          @include respond-to(MEDIUM) {
            width: 48 * $prd;
            height: 48 * $prd;
          }

          [data-component="cta-gradient"] {
            width: 32 * $prm;
            height: 32 * $prm;

            @include respond-to(MEDIUM) {
              width: 48 * $prd;
              height: 48 * $prd;
            }
          }
        }

        .c16-technology-and-innovation__user-name {
          color: $whiteShade1;
          margin-left: 9 * $prm;

          @include respond-to(MEDIUM) {
            margin-left: 14 * $prd;
          }

          .large {
            font-weight: 500;
            font-size: 18 * $prm;
            line-height: 24 * $prm;

            @include respond-to(MEDIUM) {
              font-size: 24 * $prd;
              line-height: 32 * $prd;
            }
          }
        }
      }

      .c16-technology-and-innovation__video-audio {
        opacity: 0;
        position: absolute;
      }
    }

    .c16-technology-and-innovation__video-image {
      width: 75.4 * $prm;
      height: 75.4 * $prm;
      border-radius: 50%;
      background: $whiteShade1;
      position: absolute;
      right: -17.4 * $prm;
      top: -40.4 * $prm;

      @include respond-to(MEDIUM) {
        width: 186 * $prd;
        height: 186 * $prd;
        right: -93 * $prd;
        top: -130 * $prd;
      }
    }
  }

  .c16-technology-and-innovation__container {
    padding-top: 40 * $prm;
    display: flex;

    @include respond-to(MEDIUM) {
      padding-top: 0;
      width: 100%;
    }

    .c16-technology-and-innovation__left {
      padding-left: 24 * $prm;
      padding-right: 41 * $prm;
      position: relative;
      z-index: 10;

      @include respond-to(MEDIUM) {
        padding: 0;
        max-width: 845 * $prd;
        margin-left: 230 * $prd;
      }

      .c16-technology-and-innovation__title {
        color: $textColor;
        position: relative;

        @include respond-to(MEDIUM) {
          &::before {
            position: absolute;
            content: "";
            left: 440 * $prd;
            top: 0;
            width: 400 * $prd;
            height: 100%;
            background: radial-gradient(
              34.95% 57.18% at 36.89% 37.41%,
              rgba(255, 255, 255, 0.3) 0%,
              rgba(255, 255, 255, 0) 100%
            );
            backdrop-filter: blur(2px);
          }
        }

        .heading-1 {
          font-weight: 500;
          line-height: 56 * $prm;
          font-size: 48 * $prm;

          @include respond-to(MEDIUM) {
            line-height: 112 * $prd;
            font-size: 144 * $prd;
          }
        }
      }

      .c16-technology-and-innovation__content {
        margin-top: 260 * $prm;

        @include respond-to(MEDIUM) {
          margin-top: 40 * $prd;
          display: flex;
        }

        .c16-technology-and-innovation__label {
          display: none;

          @include respond-to(MEDIUM) {
            display: block;
            color: $textColor;
            opacity: 0.5;

            .large {
              line-height: 32 * $prd;
            }
          }
        }

        .c16-technology-and-innovation__control {
          @include respond-to(MEDIUM) {
            width: 100%;
            margin-left: 90 * $prd;
          }

          .c16-technology-and-innovation__description {
            color: $textColor;
            opacity: 0.8;
            margin-bottom: 32 * $prm;
            width: 242 * $prm;

            @include respond-to(MEDIUM) {
              width: 422 * $prd;
              margin-bottom: 40 * $prd;
            }

            .large {
              line-height: 24 * $prm;
              font-size: 16 * $prm;

              @include respond-to(MEDIUM) {
                font-size: 24 * $prd;
                line-height: 32 * $prd;
                opacity: 0.8;
              }
            }
          }
        }
      }
    }

    .c16-technology-and-innovation__right {
      position: absolute;
      right: 0;
      top: 360 * $prm;
      left: 24 * $prm;
      flex: 1;

      @include respond-to(MEDIUM) {
        position: relative;
        top: inherit;
        left: inherit;
        right: inherit;
      }

      .c16-technology-and-innovation__image {
        width: 100%;
        height: 260 * $prm;

        @include respond-to(MEDIUM) {
          width: 1050 * $prd;
          height: 750 * $prd;
          position: absolute;
          right: 0;
        }

        img {
          height: 100%;
        }
      }
    }
  }
}
