<link rel="stylesheet" href="./c16-technology-and-innovation.scss">
<script src="./C16TechnologyAndInnovation.ts"></script>

<div class="c16-technology-and-innovation" data-component="c16-technology-and-innovation">
  <div class="c16-technology-and-innovation__container">
    <div class="c16-technology-and-innovation__title">
      {{> general/heading h1 class="heading-1" }}
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {{#each bannersArr}}
        <div class="swiper-slide">
          <div class="c16-technology-and-innovation__image">
            <img src="{{imgSrc}}" alt="">
          </div>
          <div class="c16-technology-and-innovation__content">
            <div class="c16-technology-and-innovation__label">
              <p class="copy large">{{label}}</p>
            </div>
            <div class="c16-technology-and-innovation__control">
              <div class="c16-technology-and-innovation__description">
                <p class="copy large">{{description}}</p>
              </div>
              <div class="c16-technology-and-innovation__sub-title">
                 {{> cta/cta-border subTitle }}
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>