<link rel="stylesheet" href="./c24-footer-notes.scss">
<script src="./C24FooterNotes.ts"></script>

<section id="{{id}}" class="c24-footer-notes" data-component="c24-footer-notes" data-scroll-component>
  <div class="block-wrapper{{#if top-padding}} top-{{top-padding}}{{/if}}{{#if bottom-padding}} bottom-{{bottom-padding}}{{/if}}">
    <div class="copy-wrapper" data-transition-item>
      {{{copy}}}
    </div>
  </div>
</section>
