<link rel="stylesheet" href="./language-selector.scss">
<script src="./LanguageSelector.ts"></script>

<button class="language-selector{{#if class}} {{class}}{{/if}}"{{#if data-attr}} data-{{data-attr}}{{/if}} data-component="language-selector">
  <div class="language" data-language-copy></div>
  {{> general/icon class="chevron" name="chevron"}}
</button>
