.card-copy-wrapper {
  max-width: 40rem;
  // opacity: 0;
  // transform: translateX(30px);

  .cta {
    color: var(--color-light-blue);
    margin: 1.6rem 0 3.2rem;
  }

  @media ($minWidth768) {
    @include column(8);
  }

  @media ($minWidth1024) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 8rem;
    max-width: 34.4rem;
    opacity: 1;
    transform: none;
  }
}
