@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}

.hotspot-wrapper {
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  &:hover,
  &.is-active {
    .pin::after {
      background: var(--color-light-blue);
    }
  }

  &:hover {
    .hotspot-label {
      &::before {
        transition: width 150ms ease-in-out;
        width: 100%;
      }

      .label-text {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  .pin {
    width: 4.8rem;
    height: 4.8rem;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: currentColor;
      border-radius: 50%;
      transform: scale(0);
      animation: grow 2s infinite ease-in-out;
      content: "";
    }

    /* stylelint-disable-next-line no-descending-specificity */
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.6rem;
      height: 0.6rem;
      transform: translate(-50%, -50%);
      background: currentColor;
      border-radius: 50%;
      transition: background-color 250ms linear;
      content: "";
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .hotspot-label {
    user-select: none;
    display: none;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.1rem 0.8rem;
    position: relative;

    /* stylelint-disable-next-line no-descending-specificity */
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 0;
      background: var(--color-light-blue);
      border-radius: 3rem;
      transition: width 150ms ease-in-out 150ms;
      content: "";
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .label-text {
      display: block;
      margin-top: 0.2rem;
      font-family: var(--default-font-family-bold);
      position: relative;
      line-height: 1.4rem;
      transform: translateX(-1rem);
      opacity: 0;
      transition: transform 250ms ease-in-out, opacity 350ms linear;
    }
  }

  @media ($minWidth768) {
    .pin {
      &::after {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }

  @media ($minWidth1440) {
    .hotspot-label {
      display: block;
    }
  }
}
