[data-component="cta-border"] {
	display: inline-block;
	background: transparent;
	padding: .6rem 2.4rem;
	border-radius: 2.4rem;
	cursor: pointer;
	transition: color .3s, border .3s;
	border: 2px solid $blueShade1;
	transition: background .3s;

	@include respond-to(MEDIUM) {
		border-radius: 2.6rem;
		padding: 1rem 3rem;
	}

	.copy {
		display: inline-block;
		line-height: 2.4rem;
		color: $blueShade1;
		text-decoration: none;
		transition: color .3s;

		@include respond-to(MEDIUM) {
			line-height: 3rem;
		}
	}

	span[data-component=icon] {
		width: .6rem;
		height: 2.4rem;
		line-height: 2.4rem;
		padding: 0;
		line-height: 1.80;
		margin-left: 12px;

		svg {
			fill: none;
			stroke: $blueShade1;
			stroke-width: .3rem;
			transition: stroke .3s, transform .3s;
		}
	}

	&:hover {
		text-decoration: none;
		background: $blueShade1;
		.copy {
			color: $whiteShade1;
			text-decoration: none;
		}
		span[data-component=icon] {
			svg {
				stroke: $whiteShade1;
				transform: translate(.6rem, 0);
			}
		}
	}

	&.white {
		border: 2px solid $whiteShade1;
		.copy {
			color: $whiteShade1;
		}

		span[data-component=icon] {
			svg {
				stroke: $whiteShade1;
			}
		}

		&:hover {
			background: $whiteShade1;
			.copy {
				color: $blueShade1;
			}
			span[data-component=icon] {
				svg {
					stroke: $blueShade1;
				}
			}
		}
	}
}
