<link rel="stylesheet" href="./c25-cta-block.scss">
<script src="./C25CtaBlock.ts"></script>

<section id="{{id}}" class="c25-cta-block" data-component="c25-cta-block" data-scroll-component>
  <div class="block-wrapper{{#if top-padding}} top-{{top-padding}}{{/if}}{{#if bottom-padding}} bottom-{{bottom-padding}}{{/if}}">
    {{> cta/cta-pill cta }}
  </div>
</section>
