<div class="c07-on-page-jump-links" data-component="c07-on-page-jump-links">
  <div class="c07-on-page-jump-links__wrapper container">
    <div class="row">
      <div class="c07-on-page-jump-links__block-wrapper offset-1 col-5">
        <ul>
          {{#each navList}}
          <li>
            <a data-target={{target}} class="js-anchor">
              {{> cta/cta-text/cta-text this heading="heading-5" }}
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="c08-our-mission-text-box col-12 col-md-4">
        <div class="c08-our-mission-text-box__block-wrapper">
          <div class="c08-our-mission-text-box__title">
            {{> general/heading/heading h1 class="heading-1" }}
          </div>
          <div class="c08-our-mission-text-box__content">
            <p class="copy large">{{desc}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>