.footer-links {
  margin-bottom: 3.2rem;

  .list-item {
    color: var(--color-grey);

    &:not(:first-of-type) {
      margin-top: 2.4rem;
    }
  }

  .link {
    color: var(--color-dark-blue);
  }

  @media ($minWidth768) {
    .footer-links-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    .list-item {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }

      &:not(:first-of-type) {
        margin-top: 0;
      }
    }
  }

  @media ($minWidth1440) {
    margin-bottom: 0;

    .footer-links-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      flex-wrap: wrap;
    }

    .list-item {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }

      &:not(:first-of-type) {
        margin-top: 0;
      }
    }
  }
}
