.navigation-set {
  position: relative;
  padding-top: 4rem;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.1rem;
    background: var(--color-dividers);
    content: "";
  }

  @media ($minWidth768) {
    &::before {
      display: none;
    }
  }
}
