.copy-wrapper {
  width: 100%;
  position: relative;
  padding: 2.4rem;

  .title span {
    display: inline;
    font-weight: 700;
    color: var(--color-light-blue);
  }

  a:not(.cta) {
    display: inline-block;
    position: relative;
    color: currentColor;
    z-index: 1;
    transition: color 0.2s ease-in-out;

    &::after {
      position: absolute;
      bottom: 0.3rem;
      left: -0.1rem;
      right: -0.2rem;
      height: 90%;
      width: 101%;
      background: var(--color-light-blue);
      z-index: -1;
      content: "";
    }
  }

  .cta-wrapper {
    margin-top: 2rem;
  }

  @media ($minWidth768) {
    @include column(11);
    margin-left: auto;
    margin-right: 0;
    padding: 0;

    .title {
      @include column(7, 11);
    }
  }

  @media ($minWidth1440) {
    padding: 4rem 0;
    @include column(10);
    margin-left: auto;
    margin-right: auto;

    .title {
      @include column(5, 10);
    }

    .cta-wrapper {
      margin-top: 4rem;
    }
  }
}
