<link rel="stylesheet" href="./c08-our-mission-text-box.scss">
<script src="./C08OurMissionTextBox.ts"></script>

<div class="c08-our-mission-text-box" data-component="c08-our-mission-text-box">
  <div class="c08-our-mission-text-box__block-wrapper">
    <div class="c08-our-mission-text-box__title">
      {{> general/heading h1 class="heading-1" }}
    </div>
    <div class="c08-our-mission-text-box__content">
      <p class="copy large">{{desc}}</p>
    </div>
  </div>
</div>