<button class="language-selector{{#if class}} {{class}}{{/if}}"{{#if data-attr}} data-{{data-attr}}{{/if}} data-component="language-selector">
  <div class="language" data-language-copy></div>
  {{> general/icon/icon class="chevron" name="chevron"}}
</button>
