.n01-main-navigation {
  --top-offset: 24px;
  --transition-time-settings: 250ms ease-in;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: zindex(navigation);
  pointer-events: none;

  @import "styles/main-content-wrapper";
  @import "styles/logo-wrapper";
  @import "styles/content-wrapper";
  @import "styles/navigation-wrapper";
  @import "styles/secondary-navigation";

  @media ($minWidth1024) {
    position: absolute;
    top: var(--top-offset);
    left: 0;
    right: 0;
    height: auto;

    &.scrolled-navigation {
      position: fixed;
      top: 0;
    }
  }

  @media ($minWidth1440) {
    --top-offset: 56px;
  }
}
