<link rel="stylesheet" href="./c30-calculation.scss">
<script src="./C30Calculation.ts"></script>

<div class="c30-calculation" data-component="c30-calculation">
  <div class="c30-calculation__text-box">
    {{> general/card cardVideo }}
  </div>
  <div class="c30-calculation__media-box"></div>
</div>