.gallery-item {
  flex-shrink: 0;
  counter-increment: image-item;
  user-select: none;

  .item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.8rem;
    color: var(--color-light-grey);
    padding: 1.6rem;
  }

  .counter {
    flex-shrink: 0;
    margin-left: 4.8rem;
  }

  @media ($minWidth1024) {
    pointer-events: none;

    .item-content {
      padding: 0;
      margin-top: 3.2rem;
    }
  }
}
