.list-item {
  flex-shrink: 0;
  max-width: 34rem;
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: 5.6rem;
  }

  .list-item-content {
    position: relative;
  }

  .total-wrapper {
    font-family: var(--default-font-family-semibold);
    letter-spacing: -0.05em;
    line-height: 1;
    font-size: 6rem;
    position: relative;

    span {
      display: inline;
      opacity: 0;

      &:not(:first-of-type) {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        opacity: 1;

        @media ($minWidth1024) {
          left: unset;
          right: 0;
        }
      }
    }
  }

  .label {
    font-family: var(--default-font-family-semibold);
    font-size: 2.5rem;
    width: calc(100% - 6.4rem);
  }

  .copy-wrapper {
    font-size: 1.6rem;
  }

  @media ($maxWidth1023) {
    .list-item-content {
      padding-left: 8rem;
    }

    .outline-icon {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  @media ($minWidth768) {
    @include column(6);

    .list-item-content {
      @include column(5, 6);
    }
  }

  @media ($minWidth1024) {
    padding-right: 4rem;
    max-width: none;
    width: auto;

    &:not(:last-of-type) {
      margin-bottom: 0;
    }

    .list-item-content {
      max-width: none;
    }

    .content-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      max-width: none;
      width: auto;
    }

    .outline-icon {
      align-self: flex-start;
      flex-shrink: 0;
      margin-right: 2.4rem;
      top: 0.8rem;
    }

    .total-wrapper {
      font-size: 12rem;
      margin-right: 1.6rem;
    }
  }

  @media ($minWidth1440) {
    .carouselWrapper {
      @include column(10);
      margin-left: auto;
      margin-right: auto;
    }

    .total-wrapper {
      font-size: 18rem;
      line-height: 0.9;
    }
  }
}
